<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
    {{ cursos }}
</div>

<div *ngIf="cursos.length == 0">
    Não existem cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
    {{ cursos }}
</div>

<div *ngIf="!mostrarCursos">
    Não existem cursos para serem listados.
</div>
<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
<br>
<br>
<h5>Hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">
    {{ cursos }}
</div>

<div [hidden]="mostrarCursos">
    Não existem cursos para serem listados.
</div>
<br>
<h5>Removendo o * e usando template</h5>

<div *ngIf="mostrarCursos">
    
</div>

<ng-template [ngIf]="mostrarCursos">
    <div> Lista de cursos. </div>
</ng-template>

<div template="ngIf mostrarCursos">
    lista de cursos.

</div>

